<div class="grid justify-items-center">
  <footer class="card footer footer-center p-6 bg-secondary text-base-content text-white w-3/4">
    <div>
      <p>Copyright © 2022 - Genderstanding</p>
    </div>
  </footer>
</div>
</html>