<%- include('partials/header') -%>
<div class="grid justify-items-center">
    <div class="grid bg-base-100 justify-items-center mt-2.5 border border-black flex-shrink-0 shadow-xl w-3/4 mb-2.5 rounded-lg p-5">
        <h1 class="text-5xl font-bold text-primary">About <span class="text-secondary">Genderstanding</span></h1>
        <p class="mt-5">Gender identity has become a hot-button topic of debate on national and international stages...</p>
    </div>
</div>
  

<%- include('partials/footer') -%>